@import './partials/partials.scss';

body{
    margin: unset;
}


// reset anchor tag decoration
a{
    text-decoration: none;
    color: black;
}

// reset some button styling
button{
    text-decoration: unset;
    border-style: unset;
}

img{
    height: 50px;
}


// purple text color class
.purple{
    color: $purple;
}

// wrapper class

.wrapper{
    padding: 0 10.5rem;
}

// Header styles
.head{
    padding: 1rem 5rem;
    background-color: $white;
    display: flex;
    justify-content: space-between;

    &__logo{
        margin: unset;
        border: solid 2px $purple;
        padding: 5px 18px;
        color: $purple;
        font-family: $rob-bold;
    }

    &__nav{
        font-family: $open-reg;
        width: 30%;
        display: flex;
        justify-content: space-around;
    }
}

// Hero styles
.hero{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50vh;
    

    &__container{
        width: 37%;
        margin-right: 2rem;
    }

    &__title{
        font-family: $rob-medium;
    }

    &__sub{
        font-family: $open-bold;
        color: $silver;
        margin-bottom: 1rem;
    }

    &__button{
        background-color: $purple;
        color: white;
        padding: 13px 60px;
        border-radius: 20px;
    }
    
    &__image{
        height: 280px;
        width: auto;
    }
}

// End of hero styling

// Bio styles

.bio{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: $light-blue;

    &__image{
        height: 300px;
        width: 180px;
        margin-right: 1.4rem;
    }

    &__bio{
        width: 62%;
    }

    &__intro{
        font-family: $rob-medium;
        font-size: 20px;
    }

    &__light{
        font-family: $open-reg;
        color: $silver;
        font-size: 13px;
    }

    &__italic{
        font-size: 14.5px;
        font-family: $open-ital;
    }

    &__learned{
        font-size: 18px;
    }
}

// end of bio styling

// info styling

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;

    &__heading{
        font-family: $rob-medium;
        margin: unset;
        margin-bottom: 0.3rem;
    }

    &__for{
        margin-top: unset;
        font-family: $rob-medium;
        color: grey;
        font-size: 19px;
        margin-bottom: 2rem;
    }

    &__services{
        display: flex;
        justify-content: space-between;
    }

    &__service{
        width: 24%;
    }

    &__title{
        font-family: $rob-medium;
        font-size: 15px;
    }

    &__descrip{
        font-family: $open-reg;
        color: $silver;
        font-size: 12px;
    }
}

// end of service styling

// Testimonial styling

.testim{
    background-color: $purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;

    &__heading{
        font-family: $rob-medium;
        color: $white;
        margin-bottom: 2rem;
    }

    &__container{
        display: flex;
        justify-content: space-between;
    }

    &__box{
        display: flex;
        background-color: $white;
        width: 45%;
        padding: 1rem;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    &__speech{
        height: 30px ;
        margin-right: 0.7rem;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
    }

    &__content{
        padding: 0.6rem;
    }

    &__testim{
        font-family: $open-ital;
        color: rgb(150, 150, 150);
        font-size: 14.8px;
    }

    &__person{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__profile{

    }

    &__name{
        margin-bottom: unset;
        font-size: 1rem;
        font-family: $rob-medium;
    }

    &__prof{
        margin-top: unset;
        font-family: $open-reg;
        color: $silver;
        font-size: 10px;
    }

    &__image{
        height: 50px;
        width: 50px;
        border-radius: 100%;
        background-color: $light-blue;
    }
}

// end of testimonial styles

// Start of projects styling

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__heading{
        font-family: $rob-medium;
        margin-bottom: 0.6rem;
        padding-left: 2rem;
    }

    &__icons{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 80%;
    }

    &__icon{
        padding: 1.8rem 3rem;
        height: 50px;
    }

    &__check{
        display: flex;
        align-items: center;
        font-family: $open-reg;
        color: rgb(150, 150, 150);
        font-size: 10px;
    }

    &__image{
        height: 13px;
        margin: 0 2px;
    }
}

// End of project styles

// Footer styling

.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    &__experience{
        justify-content: space-between;
        width: 50%;
        padding: 1.2rem;
        color: $white;
        background-color: $purple;
        display: flex;
        border-radius: 8px;
        align-items: center;
    }

    &__jenny{
        font-size: 1rem;
        width: 50%;
        font-family: $rob-medium;
    }

    &__button{
        font-family: $rob-bold;
        background-color: $white;
        color: $purple;
        width: 25%;
        height: 40px;
        border-radius: 70px;
    }

    &__social{
        background-color: $light-blue;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__container{
        width: 53%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__copyright{
        width: 50%;
        font-family: $open-reg;
        color: $silver;
        font-size: 10px;
    }

    &__icons{
        display: flex;
        justify-content: flex-end;
        justify-content: space-around;
        width: 18%;
    }

    &__icon{
        height: 10px;
    }
}

