@font-face {
  font-family: "opensans-reg";
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "opensans-semibold";
  src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: "opensans-semibolditalic";
  src: url(../fonts/OpenSans-SemiBoldItalic.ttf);
}

@font-face {
  font-family: "roboto-medium";
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "roboto-bold";
  src: url(../fonts/Roboto-Bold.ttf);
}

body {
  margin: unset;
}

a {
  text-decoration: none;
  color: black;
}

button {
  text-decoration: unset;
  border-style: unset;
}

img {
  height: 50px;
}

.purple {
  color: #2D25C8;
}

.wrapper {
  padding: 0 10.5rem;
}

.head {
  padding: 1rem 5rem;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head__logo {
  margin: unset;
  border: solid 2px #2D25C8;
  padding: 5px 18px;
  color: #2D25C8;
  font-family: "roboto-bold";
}

.head__nav {
  font-family: "opensans-reg";
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
}

.hero__container {
  width: 37%;
  margin-right: 2rem;
}

.hero__title {
  font-family: "roboto-medium";
}

.hero__sub {
  font-family: "opensans-semibold";
  color: #b1b1b1;
  margin-bottom: 1rem;
}

.hero__button {
  background-color: #2D25C8;
  color: white;
  padding: 13px 60px;
  border-radius: 20px;
}

.hero__image {
  height: 280px;
  width: auto;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  background-color: #F3F6F9;
}

.bio__image {
  height: 300px;
  width: 180px;
  margin-right: 1.4rem;
}

.bio__bio {
  width: 62%;
}

.bio__intro {
  font-family: "roboto-medium";
  font-size: 20px;
}

.bio__light {
  font-family: "opensans-reg";
  color: #b1b1b1;
  font-size: 13px;
}

.bio__italic {
  font-size: 14.5px;
  font-family: "opensans-semibolditalic";
}

.bio__learned {
  font-size: 18px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.info__heading {
  font-family: "roboto-medium";
  margin: unset;
  margin-bottom: 0.3rem;
}

.info__for {
  margin-top: unset;
  font-family: "roboto-medium";
  color: grey;
  font-size: 19px;
  margin-bottom: 2rem;
}

.info__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__service {
  width: 24%;
}

.info__title {
  font-family: "roboto-medium";
  font-size: 15px;
}

.info__descrip {
  font-family: "opensans-reg";
  color: #b1b1b1;
  font-size: 12px;
}

.testim {
  background-color: #2D25C8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.testim__heading {
  font-family: "roboto-medium";
  color: #FFFFFF;
  margin-bottom: 2rem;
}

.testim__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testim__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  width: 45%;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.testim__speech {
  height: 30px;
  margin-right: 0.7rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.testim__content {
  padding: 0.6rem;
}

.testim__testim {
  font-family: "opensans-semibolditalic";
  color: #969696;
  font-size: 14.8px;
}

.testim__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testim__name {
  margin-bottom: unset;
  font-size: 1rem;
  font-family: "roboto-medium";
}

.testim__prof {
  margin-top: unset;
  font-family: "opensans-reg";
  color: #b1b1b1;
  font-size: 10px;
}

.testim__image {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #F3F6F9;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__heading {
  font-family: "roboto-medium";
  margin-bottom: 0.6rem;
  padding-left: 2rem;
}

.projects__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

.projects__icon {
  padding: 1.8rem 3rem;
  height: 50px;
}

.projects__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "opensans-reg";
  color: #969696;
  font-size: 10px;
}

.projects__image {
  height: 13px;
  margin: 0 2px;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.footer__experience {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  padding: 1.2rem;
  color: #FFFFFF;
  background-color: #2D25C8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__jenny {
  font-size: 1rem;
  width: 50%;
  font-family: "roboto-medium";
}

.footer__button {
  font-family: "roboto-bold";
  background-color: #FFFFFF;
  color: #2D25C8;
  width: 25%;
  height: 40px;
  border-radius: 70px;
}

.footer__social {
  background-color: #F3F6F9;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__container {
  width: 53%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  width: 50%;
  font-family: "opensans-reg";
  color: #b1b1b1;
  font-size: 10px;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 18%;
}

.footer__icon {
  height: 10px;
}
/*# sourceMappingURL=styles.css.map */