@import './partials/partials.scss';

body{
    margin: unset;
    position: relative;
}

#modal{
    display: none;
    height: 54vh;
    width: 40%;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 30%;
    bottom: 10%;
    background-color: $white;

    @include tablet{
        width: 60%;
        left: 20%;
    }

    @include mobile{
        width: 90%;
        left: 5%;
    }
}

#escape{
    width: 50px;
    background-color: $purple;
    border-radius: 100%;
    color: $white;
    height: 50%;
}

.contact{
    border: 2px solid $light-blue;

    &__top{
        display: flex;
        justify-content: space-between;
        width: 50%;
        align-items: center;

        @include mobile{
            width: 80%;
        }
    }

    &__sub{
        font-family: $rob-medium;
        color: $silver;
    }

    &__submit{
        height: 100%;
    }

    &__form{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__details{
        border-radius: 20px;
        padding: 0.5rem;
        width: 97%;
        height: 10%;
        background-color: $light-blue;
        
    }

    &__text{
        background-color: $light-blue;
        height: 30%;
        border-radius: 20px;
        padding: 0.5rem;
    }

    &__button{
        width: 100%;
        padding: 0.6rem;
        margin-bottom: 1rem;
        border-radius: 20px;
        background-color: $purple;
        color: $white;
    }
}


// reset anchor tag decoration
a{
    text-decoration: none;
    color: black;
}

// reset some button styling
button{
    text-decoration: unset;
    border-style: unset;
}

img{
    height: 50px;

    @include mobile{
        // display: none !important;
    }
}


// purple text color class
.purple{
    color: $purple;
}

// wrapper class

.wrapper{
    padding: 0 10.5rem;

    @include tablet{
        padding: 0 5rem;
    }

    @include mobile{
        padding: 0 2rem;
    }
}

// Header styles
.head{
    padding: 1rem 5rem;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet{
        padding: 1rem 2rem;
    }

    @include mobile{
        padding: 0.4rem 0.8rem;
    }

    &__logo{
        margin: unset;
        border: solid 2px $purple;
        padding: 5px 18px;
        color: $purple;
        font-family: $rob-bold;

        @include mobile{
            font-size: 12px;
        }

    }

    &__nav{
        font-family: $open-reg;
        width: 30%;
        display: flex;
        justify-content: space-around;

        @include tablet{
            width: 50%;
        }

        @include mobile{
            width: 70%;
        }
    }

    &__link{
        @include mobile{
            font-size: 10px;
        }
    }
}

// Hero styles
.hero{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50vh;
    @include mobile{
        background-image: linear-gradient(rgba(#323232, 0.3),rgba(#323232, 0.3)),url(./assets/background.png);
        background-size: cover;
    }
    

    &__container{
        width: 37%;
        margin-right: 2rem;

        @include mobile{
            width: 80%;
            margin: unset;
        }
    }

    &__title{
        font-family: $rob-medium;
        @include mobile{
            color: $white;
        }
    }

    &__sub{
        font-family: $open-bold;
        color: $silver;
        margin-bottom: 1rem;

        @include mobile{
            color: $light-blue;
        }
    }

    &__button{
        background-color: $purple;
        color: white;
        padding: 13px 60px;
        border-radius: 20px;
    }
    
    &__image{
        height: 280px;
        width: auto;

        @include mobile{
            display: none;
        }
    }
}

// End of hero styling

// Bio styles

.bio{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: $light-blue;

    &__image{
        height: 300px;
        width: 180px;
        margin-right: 1.4rem;

        @include mobile{
           display: none;
        }
    }

    &__mobile{
        @include mobile{
            display: flex;
            justify-content: space-between;
        }
    }

    &__ben{
        display: none;

        @include mobile{
            display: unset;
            height: 70px;
            border-radius: 100%;
        }
    }

    &__bio{
        width: 62%;

        @include mobile{
            width: 80%;
        }
    }

    &__intro{
        font-family: $rob-medium;
        font-size: 20px;

        @include tablet{
            font-size: 16px;
        }
    }

    &__light{
        font-family: $open-reg;
        color: $silver;
        font-size: 13px;

        @include tablet{
            font-size: 10px;
        }
    }

    &__italic{
        font-size: 14.5px;
        font-family: $open-ital;

        @include tablet{
            font-size: 12px;
        }
    }

    &__learned{
        font-size: 18px;

        @include tablet{
            font-size: 15px;
        }
    }
}

// end of bio styling

// info styling

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;

    &__heading{
        font-family: $rob-medium;
        margin: unset;
        margin-bottom: 0.3rem;
        text-align: center;

        @include tablet{
            font-size: 1.3rem;
        }

        @include mobile{
            font-size: 0.825rem;
        }
    }

    &__for{
        margin-top: unset;
        font-family: $rob-medium;
        color: grey;
        font-size: 1rem;
        margin-bottom: 2rem;

        @include mobile{
            font-size: 0.7rem
        }
    }

    &__services{
        display: flex;
        justify-content: space-between;

        @include mobile{
            flex-direction: column;
        }
    }

    &__service{
        width: 24%;

        @include mobile{
            border: solid 2px $light-blue;
            border-radius: 10px;
            padding: 1rem;
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 0.5rem;
        }
    }

    &__title{
        font-family: $rob-medium;
        font-size: 15px;
        @include tablet{
            font-size: 13px;
        }
    }

    &__descrip{
        font-family: $open-reg;
        color: $silver;
        font-size: 12px;
        @include tablet{
            font-size: 10px;
        }
    }
}

// end of service styling

// Testimonial styling

.testim{
    background-color: $purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;

    &__heading{
        font-family: $rob-medium;
        color: $white;
        margin-bottom: 2rem;
    }

    &__container{
        display: flex;
        justify-content: space-between;
        @include mobile{
            flex-direction: column;
        }
    }

    &__box{
        display: flex;
        background-color: $white;
        width: 40%;
        padding: 1rem;
        justify-content: space-between;
        margin-bottom: 2rem;

        @include mobile{
            width: 90%;
        }
    }

    &__speech{
        height: 30px ;
        margin-right: 0.7rem;
        padding-top: 0.5rem;
        padding-left: 0.5rem;

        @include tablet{
            height: 20px;
        }
    }

    &__content{
        padding: 0.6rem;
    }

    &__testim{
        font-family: $open-ital;
        color: rgb(150, 150, 150);
        font-size: 14.8px;

        @include tablet{
            font-size: 11.5px;
            margin-bottom: 1rem;
        }
    }

    &__person{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__name{
        margin-bottom: unset;
        font-size: 1rem;
        font-family: $rob-medium;

        @include tablet{
            font-size: 0.7rem;
        }
    }

    &__prof{
        margin-top: unset;
        font-family: $open-reg;
        color: $silver;
        font-size: 10px;
    }

    &__image{
        height: 50px;
        width: 50px;
        border-radius: 100%;
        background-color: $light-blue;
    }
}

// end of testimonial styles

// Start of projects styling

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__heading{
        font-family: $rob-medium;
        margin-bottom: 0.6rem;
    }

    &__icons{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 80%;
    }

    &__icon{
        padding: 1.8rem 3rem;
        height: auto;
        max-width: 50px;
    }

    &__check{
        display: flex;
        align-items: center;
        font-family: $open-reg;
        color: rgb(150, 150, 150);
        font-size: 10px;
    }

    &__image{
        height: 13px;
        margin: 0 2px;
    }
}

// End of project styles

// Footer styling

.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    &__experience{
        justify-content: space-between;
        width: 50%;
        padding: 1.2rem;
        color: $white;
        background-color: $purple;
        display: flex;
        border-radius: 8px;
        align-items: center;

        @include tablet{
            padding: 0.8rem;
        }

        @include mobile{
            width: 80%;
            flex-direction: column;
        }
    }

    &__jenny{
        font-size: 1rem;
        width: 50%;
        font-family: $rob-medium;

        @include tablet{
            font-size: 0.8rem;
        }
        
        @include mobile{
            width: 80%;
        }
    }

    &__button{
        font-family: $rob-bold;
        background-color: $white;
        color: $purple;
        width: 25%;
        height: 40px;
        border-radius: 70px;

        @include tablet{
            height: 28px;
        }

        @include mobile{
            width: 60%;
        }
    }

    &__social{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .grey{
        background-color: $light-blue;
        height: 89px;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: -1;

        @include tablet{
            height: 78px;
        }

        @include mobile{
            height: 105px;
        }
    }

    &__container{
        width: 52%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile{
            width: 90%;
        }
    }

    &__copyright{
        width: 50%;
        font-family: $open-reg;
        color: $silver;
        font-size: 10px;
    }

    &__icons{
        display: flex;
        justify-content: flex-end;
        justify-content: space-around;
        width: 18%;

        @include mobile{
            width: 30%;
        }
    }

    &__icon{
        height: 10px;
    }
}

