@font-face {
  font-family: "opensans-reg";
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "opensans-semibold";
  src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: "opensans-semibolditalic";
  src: url(../fonts/OpenSans-SemiBoldItalic.ttf);
}

@font-face {
  font-family: "roboto-medium";
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "roboto-bold";
  src: url(../fonts/Roboto-Bold.ttf);
}

body {
  margin: unset;
  position: relative;
}

#modal {
  display: none;
  height: 54vh;
  width: 40%;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 30%;
  bottom: 10%;
  background-color: #FFFFFF;
}

@media only screen and (max-width: 1200px) {
  #modal {
    width: 60%;
    left: 20%;
  }
}

@media only screen and (max-width: 768px) {
  #modal {
    width: 90%;
    left: 5%;
  }
}

#escape {
  width: 50px;
  background-color: #2D25C8;
  border-radius: 100%;
  color: #FFFFFF;
  height: 50%;
}

.contact {
  border: 2px solid #F3F6F9;
}

.contact__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .contact__top {
    width: 80%;
  }
}

.contact__sub {
  font-family: "roboto-medium";
  color: #b1b1b1;
}

.contact__submit {
  height: 100%;
}

.contact__form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__details {
  border-radius: 20px;
  padding: 0.5rem;
  width: 97%;
  height: 10%;
  background-color: #F3F6F9;
}

.contact__text {
  background-color: #F3F6F9;
  height: 30%;
  border-radius: 20px;
  padding: 0.5rem;
}

.contact__button {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  background-color: #2D25C8;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: black;
}

button {
  text-decoration: unset;
  border-style: unset;
}

img {
  height: 50px;
}

.purple {
  color: #2D25C8;
}

.wrapper {
  padding: 0 10.5rem;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    padding: 0 5rem;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 0 2rem;
  }
}

.head {
  padding: 1rem 5rem;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  .head {
    padding: 1rem 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .head {
    padding: 0.4rem 0.8rem;
  }
}

.head__logo {
  margin: unset;
  border: solid 2px #2D25C8;
  padding: 5px 18px;
  color: #2D25C8;
  font-family: "roboto-bold";
}

@media only screen and (max-width: 768px) {
  .head__logo {
    font-size: 12px;
  }
}

.head__nav {
  font-family: "opensans-reg";
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 1200px) {
  .head__nav {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .head__nav {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .head__link {
    font-size: 10px;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
}

@media only screen and (max-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.3)), to(rgba(50, 50, 50, 0.3))), url(./assets/background.png);
    background-image: linear-gradient(rgba(50, 50, 50, 0.3), rgba(50, 50, 50, 0.3)), url(./assets/background.png);
    background-size: cover;
  }
}

.hero__container {
  width: 37%;
  margin-right: 2rem;
}

@media only screen and (max-width: 768px) {
  .hero__container {
    width: 80%;
    margin: unset;
  }
}

.hero__title {
  font-family: "roboto-medium";
}

@media only screen and (max-width: 768px) {
  .hero__title {
    color: #FFFFFF;
  }
}

.hero__sub {
  font-family: "opensans-semibold";
  color: #b1b1b1;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .hero__sub {
    color: #F3F6F9;
  }
}

.hero__button {
  background-color: #2D25C8;
  color: white;
  padding: 13px 60px;
  border-radius: 20px;
}

.hero__image {
  height: 280px;
  width: auto;
}

@media only screen and (max-width: 768px) {
  .hero__image {
    display: none;
  }
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  background-color: #F3F6F9;
}

.bio__image {
  height: 300px;
  width: 180px;
  margin-right: 1.4rem;
}

@media only screen and (max-width: 768px) {
  .bio__image {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .bio__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.bio__ben {
  display: none;
}

@media only screen and (max-width: 768px) {
  .bio__ben {
    display: unset;
    height: 70px;
    border-radius: 100%;
  }
}

.bio__bio {
  width: 62%;
}

@media only screen and (max-width: 768px) {
  .bio__bio {
    width: 80%;
  }
}

.bio__intro {
  font-family: "roboto-medium";
  font-size: 20px;
}

@media only screen and (max-width: 1200px) {
  .bio__intro {
    font-size: 16px;
  }
}

.bio__light {
  font-family: "opensans-reg";
  color: #b1b1b1;
  font-size: 13px;
}

@media only screen and (max-width: 1200px) {
  .bio__light {
    font-size: 10px;
  }
}

.bio__italic {
  font-size: 14.5px;
  font-family: "opensans-semibolditalic";
}

@media only screen and (max-width: 1200px) {
  .bio__italic {
    font-size: 12px;
  }
}

.bio__learned {
  font-size: 18px;
}

@media only screen and (max-width: 1200px) {
  .bio__learned {
    font-size: 15px;
  }
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.info__heading {
  font-family: "roboto-medium";
  margin: unset;
  margin-bottom: 0.3rem;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .info__heading {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 768px) {
  .info__heading {
    font-size: 0.825rem;
  }
}

.info__for {
  margin-top: unset;
  font-family: "roboto-medium";
  color: grey;
  font-size: 1rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .info__for {
    font-size: 0.7rem;
  }
}

.info__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .info__services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.info__service {
  width: 24%;
}

@media only screen and (max-width: 768px) {
  .info__service {
    border: solid 2px #F3F6F9;
    border-radius: 10px;
    padding: 1rem;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.5rem;
  }
}

.info__title {
  font-family: "roboto-medium";
  font-size: 15px;
}

@media only screen and (max-width: 1200px) {
  .info__title {
    font-size: 13px;
  }
}

.info__descrip {
  font-family: "opensans-reg";
  color: #b1b1b1;
  font-size: 12px;
}

@media only screen and (max-width: 1200px) {
  .info__descrip {
    font-size: 10px;
  }
}

.testim {
  background-color: #2D25C8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.testim__heading {
  font-family: "roboto-medium";
  color: #FFFFFF;
  margin-bottom: 2rem;
}

.testim__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .testim__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.testim__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  width: 40%;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .testim__box {
    width: 90%;
  }
}

.testim__speech {
  height: 30px;
  margin-right: 0.7rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

@media only screen and (max-width: 1200px) {
  .testim__speech {
    height: 20px;
  }
}

.testim__content {
  padding: 0.6rem;
}

.testim__testim {
  font-family: "opensans-semibolditalic";
  color: #969696;
  font-size: 14.8px;
}

@media only screen and (max-width: 1200px) {
  .testim__testim {
    font-size: 11.5px;
    margin-bottom: 1rem;
  }
}

.testim__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testim__name {
  margin-bottom: unset;
  font-size: 1rem;
  font-family: "roboto-medium";
}

@media only screen and (max-width: 1200px) {
  .testim__name {
    font-size: 0.7rem;
  }
}

.testim__prof {
  margin-top: unset;
  font-family: "opensans-reg";
  color: #b1b1b1;
  font-size: 10px;
}

.testim__image {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #F3F6F9;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__heading {
  font-family: "roboto-medium";
  margin-bottom: 0.6rem;
}

.projects__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

.projects__icon {
  padding: 1.8rem 3rem;
  height: auto;
  max-width: 50px;
}

.projects__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "opensans-reg";
  color: #969696;
  font-size: 10px;
}

.projects__image {
  height: 13px;
  margin: 0 2px;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.footer__experience {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  padding: 1.2rem;
  color: #FFFFFF;
  background-color: #2D25C8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  .footer__experience {
    padding: 0.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer__experience {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__jenny {
  font-size: 1rem;
  width: 50%;
  font-family: "roboto-medium";
}

@media only screen and (max-width: 1200px) {
  .footer__jenny {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer__jenny {
    width: 80%;
  }
}

.footer__button {
  font-family: "roboto-bold";
  background-color: #FFFFFF;
  color: #2D25C8;
  width: 25%;
  height: 40px;
  border-radius: 70px;
}

@media only screen and (max-width: 1200px) {
  .footer__button {
    height: 28px;
  }
}

@media only screen and (max-width: 768px) {
  .footer__button {
    width: 60%;
  }
}

.footer__social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .grey {
  background-color: #F3F6F9;
  height: 89px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

@media only screen and (max-width: 1200px) {
  .footer .grey {
    height: 78px;
  }
}

@media only screen and (max-width: 768px) {
  .footer .grey {
    height: 105px;
  }
}

.footer__container {
  width: 52%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .footer__container {
    width: 90%;
  }
}

.footer__copyright {
  width: 50%;
  font-family: "opensans-reg";
  color: #b1b1b1;
  font-size: 10px;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 18%;
}

@media only screen and (max-width: 768px) {
  .footer__icons {
    width: 30%;
  }
}

.footer__icon {
  height: 10px;
}
/*# sourceMappingURL=styles.css.map */